<!DOCTYPE html "utf-8">
<html>
    <head>
        <meta charset="utf-8">
        <script src="./vue.js"></script>
    </head>
    <body>
        <h2>Text interpolation using {{var}}</h2>
        <div id="app">
            {{ message }}
        </div>
        <div id="app2">
            {{ message }}

            <h2>bind element attribute, with v-bind ex: to create a tooltip attr title</h2>

            <span v-bind:title="tooltip">
                The tooltip will show when hovering this text
            </span>

            <h2>Conditional with v-if</h2>
            <div v-if="seen">
                You can see me because v-if evaluates to true
            </div>
            You can't see anything inside&gt; 
            <span v-if="show">You can't se this text</span>
            &lt;because show evalutes to false

            <h2>Loops items = ['item1', 'item2', 'item3']</h2>
            <div v-for="item in items">
                {{item}}
            </div>
            <h3> items as a list</h3>
            <div v-if="too_much">Too much stuff todo</div>
            <ol>
                <span v-for="item in items">
                    <li>{{item}}</li>
                </span>
            </ol>
            <button v-on:click="addItems">
                Add An Item
            </button>

            <h2>Adding user event with v-on</h2>
            <p>{{message_2}}</p>
            <button v-on:click="reverseMessage">Reverse</button>

            <h2>Two way binding with v-model</h2>
            <div>Type in the text box, I'll show what's in the text input: {{twoWayBoundVar}}</div>
            <input v-model="twoWayBoundVar"/>

            <h2>Components (the Vue equivalent of Custom Element of Web Components) apparently register at a gobal level but are Vue instances</h2>
            <ol>
                <todo-item></todo-item>
            </ol>
            <h3>Component with a prop which defines an attribute used to pass data</h3>
            <ol>
                <prop-todo-item 
                    v-for="item in groceryList"
                    v-bind:tobuy="item"
                    v-bind:key="item.id"> <!-- not sure why key-->
                </prop-todo-item>
            </ol>

            <h2>Frozen interpolation with v-once</h2>
            <div>Time is changing {{msg}}</div>
            <div v-once>Time is frozen {{msg}}</div>
            <button v-on:click="changeTime">
                    Change Time
            </button>

            <h2>Outputing raw html as html with v-html - use HTML interpolation on trusted content and never on user-provided content</h2>
            <p> raw html: {{rawHtml}}</p>
            <p> rendered html: <span v-html="rawHtml"> stuff</span></p>

            <h2> Attribute and v-bind. If an attribute value is null it is considered as falsy</h2>
            <button v-bind:disabled="isButtonDisabled">Button</button>

            <h2>Expression</h2>
            <p>val + 1: {{val + 1}}</p>
            <p>{{ message.split('').reverse().join('') }}</p>

            <h2> : Shorthand for v-bind and @ shorthand for v-on</h2>
            <span>Click me to change my color </span><button :style="buttonColor" @click="changeColor">button</button>

            <h2> Vue Computed properties to replace bloated code</h2>
            <div id="example">
                <p>Original message: {{ message }}</p>
                <p>bloated code: {{ message.split('').reverse().join('') }}</p>
                <p>Computed reversed message: "{{ reversedMessage }}"</p>
                <h3>computed properties are cached and only reevaluates when a depency changes</h3>
                <p>Will never change because Date is not a reactive dependency {{now}}</p>
            </div>
        </div>
    </body>

    <script>
        Vue.component('todo-item', {
            template: '<li>This is a simple template only component</li>'
        })
        Vue.component('prop-todo-item', {
            // The todo-item component now accepts a
            // "prop", which is like a custom attribute.
            // This prop is called todo.
            props: ['tobuy'],  // tobuy becomes an attribute of prop-todo-item element
                                // we can v-bind the attribute to a js Vue variable
            template: '<li>{{ tobuy.text }}</li>'
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'Hello Vue Second instance!',
                tooltip: "Tooltip: not sure it's a good idea to create 2 Vue instances in the same html",
                seen: true,
                show: false,
                items: ['item1', 'item2', 'item3'],
                too_much: false,
                message_2: 'Will be reversed on click!',
                twoWayBoundVar: 'Intialized in the js',
                groceryList: [
                    { id: 0, text: 'Vegetables' }, 
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ],
                msg: new Date().toLocaleString(),
                rawHtml: '<span style="color:red">This should be red</span>',
                isButtonDisabled: true,
                val: 55,
                buttonColor: "color:red",
            },
            methods: {
                reverseMessage: function () {
                    this.message_2 = this.message_2.split('').reverse().join('')
                },
                addItems: function() {
                    this.items.push("item " + new Date().toLocaleString())
                    if(this.items.length === 4)
                        this.too_much = true;
                },
                changeTime: function() {
                    this.msg = new Date().toLocaleString();
                },
                changeColor: function() {
                    this.buttonColor = (this.buttonColor === 'color:red') ?'color:green' : 'color:red';
                }
            },
            computed: {
                reversedMessage: function() {
                    return this.message.split('').reverse().join('');
                },
                now: function() {
                    return new Date().toLocaleString()
                }
            }
        }
        )

        // there is nothing to make this code run more than once
        if(app2.items.length === 4)
            app2.too_much = true;
    </script>
</html>